@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: 1200px;
  width: 100vw;
}

header {
  width: 100vw;
  height: 80px;
  padding: 1rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.heroBanner {
  background: url('./assets/pexels-taryn-elliott-7172269.mp4');
  background-color: bisque;
  width: 100vw;
  height: 50vh;
}

button a {
  text-decoration: none;
  color: white;
}

button {
  padding: 0.5rem 1rem;
  background-color: black;
  border: 1px solid black;
  color: white;
  border-radius: 5px;
}

.recipe {
  margin: 0.5rem;
  min-width: 250px;
  min-height: 300px;
  padding: 1rem;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
}

/*................... Form ...................*/
.addNewRecipe {
  padding: 1rem;
}

.addNewRecipe label {
  display: inline-block;
  min-width: 150px;
}

.addNewRecipe input,
.addNewRecipe textarea,
select {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  min-width: 250px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
