@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: 1200px;
  width: 100vw;
}

header {
  width: 100vw;
  height: 80px;
  padding: 1rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.heroBanner {
  background-color: bisque;
  width: 100vw;
  height: 50vh;
}
